*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Druk-Italic";
}

body {
  overflow-x: hidden;
}

@font-face {
  font-family: "Druk-Italic";
  src: url("./fonts/druk-super-italic.otf");
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,300&display=swap');